#ignore these files when commiting to a git repository
#----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/
.idea
.idea/**/*
tags

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# sphinx related conf and/or data files
db/sphinx/*
db/sphinx/**/*
config/*.sphinx.conf

# various artifacts
**.war
*.rbc
*.sassc
.sass-cache
/config/config.yml
/config/database.yml
/config/app_config.yml
/config/deploy/production.rb
/config/deploy/staging.rb
/coverage/
coverage.data
/db/*.javadb/
/db/*.sqlite3-journal
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# Textmate project files
/*.tmpproj
/.tm_properties
# vim artifacts
**.swp
# application related
db/schema.rb
public/ckeditor_assets/
public/assets
migration_assets/
public/extjs
vendor/assets/javascripts/extjs*

#resque db
*.rdb

pickle-email-*.html

# data
data/