<div id="footer">
  <div class="container">
    <p>If this is useful for your investment operation, buy me a drink.</p>
    <dl class="dl-horizontal">
      <dt>BTC:</dt>
      <dd>1Bb6V1UStz45QMAamjaX8rDjsnQnBpHvE8 </dd>
      <dt>PTS:</dt>
      <dd>PgULYtxcDJM7SKABfECipFiSjrmtjiPQd9</dd>
      <dt>Email:</dt>
      <dd>alexchien97 [@] gamil.com</dd>
    </dl>
  </div>
</div>