<div id="footer">
  <div class="container">
    <p>If this is useful for your investment operation, buy me a drink.</p>
    <div class="row-fluid">
      <div class="span6">
        <dl class="dl-horizontal">
          <dt>BTC:</dt>
          <dd>1Bb6V1UStz45QMAamjaX8rDjsnQnBpHvE8 </dd>
          <dt>PTS:</dt>
          <dd>PgULYtxcDJM7SKABfECipFiSjrmtjiPQd9</dd>
          <dt>Email:</dt>
          <dd>alexchien97 [@] gamil.com</dd>
        </dl>
      </div>
      <div class="span6">
        <dl class="dl-horizontal span6">
          <dt style="width:190px;">Blockchain data powered by:</dt>
          <dd style="margin-left:200px;"><a href="https://bitsharestalk.org/index.php?topic=1853.0" target="_blank">donschoe</a></dd>
          <dt style="width:190px;">Source Code:</dt>
          <dd style="margin-left:200px;width:80px;"><a href="http://pastebin.com/UupjK5CP" target="_blank">Source Code</a></dd>
        </dl>
      </div>
    </div>
  </div>
</div>