<div id="footer">
  <div class="container">
    <p>If this is useful for your investment operation, buy me a drink.</p>
    <div class="row-fluid">
      <div class="span6">
        <dl class="dl-horizontal">
          <dt>BTC:</dt>
          <dd><a href="http://blockchain.info/address/1Bb6V1UStz45QMAamjaX8rDjsnQnBpHvE8" target="_blank">1Bb6V1UStz45QMAamjaX8rDjsnQnBpHvE8</a> </dd>
          <dt>PTS:</dt>
          <dd><a href="https://coinplorer.com/PTS/Addresses/PgULYtxcDJM7SKABfECipFiSjrmtjiPQd9" target="_blank">PgULYtxcDJM7SKABfECipFiSjrmtjiPQd9</a></dd>
          <dt>Source Code:</dt>
          <dd><a href="https://github.com/AlexChien/agsexplorer" target="_blank">Github Repo</a></dd>
          <dt>Email:</dt>
          <dd>Boombastic / alexchien97 [@] gmail.com</dd>
        </dl>
      </div>
      <div class="span6">
        <strong>Blockchain data: </strong>
        <div>Revised <a href="https://github.com/AlexChien/ags-parser" target="_blank">parser</a> by Alex Chien based on work of <a href="https://bitsharestalk.org/index.php?topic=1853.0" target="_blank">donschoe</a> @ <a href="https://github.com/donSchoe/ags-parser" target="_blank">Github Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>