<div id="top" class="navbar  navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/" title="Angel Shares Explorer"><span class="brand-name">Angel Shares Explorer</span></a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">PTS</a></li>
          <li><a href="#">BTS</a></li>
        </ul>
        <div class="nav pull-right">
          <p class="navbar-text">UTC: <span id="utc_now"><%= display_time(Time.now) %></span></p>
        </div>
      </div>
    </div>
  </div>
</div>