<!-- modal starts -->
<div id="balance_lookup" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Balance Lookup</h3>
  </div>
  <div class="modal-body">
    <form id="balance_search_frm" class="form-search" action="/balances" method="POST">
      <fieldset style="text-align:center;">
        <input id="balance_address" type="text" placeholder="Input your BTC/PTS address">
        <button type="submit" class="btn">Search</button>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<div id="notification" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Notification</h3>
  </div>
  <div class="modal-body">
    <form class="form-search">
      <fieldset style="text-align:center;">
        <input type="text" placeholder="Input your email address">
        <button type="submit" class="btn">Submit</button>
        <span class="help-block">
          <p>Will send you a status report 3 hours before the end of each day.</p>
          <p>Coming real soon.</p>
        </span>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<div id="donate_btc" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Donate BTC</h3>
  </div>
  <div class="modal-body">
    <div class="media">
        <img src="http://blockchain.info/qr?data=1ANGELwQwWxMmbdaSWhWLqBEtPTkWb8uDc&amp;size=200" class="pull-left">
        <div class="media-body">
        <h4>Angel Shares BTC Donation Address</h4>
        <p>1ANGELwQwWxMmbdaSWhWLqBEtPTkWb8uDc</p>
        <p>&nbsp;</p>
        <p>Source: <br /><a href="https://bitsharestalk.org/index.php?topic=1863.0" target="_blank">Invictus Innovations Inc Announcement Post</a></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<div id="donate_pts" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Donate PTS</h3>
  </div>
  <div class="modal-body">
    <div class="media">
        <img src="https://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;chl=protoshares:PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw&amp;chld=L|1" alt="protoshares:PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw" class="pull-left">
        <div class="media-body">
        <h4>Angel Shares PTS Donation Address</h4>
        <p>PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw</p>
        <p>&nbsp;</p>
        <p>Source: <br /><a href="https://bitsharestalk.org/index.php?topic=1863.0" target="_blank">Invictus Innovations Inc Announcement Post</a></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>
<!-- modal ends -->