<!-- modal starts -->
<div id="balance_lookup" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Balance Lookup</h3>
  </div>
  <div class="modal-body">
    <form id="balance_search_frm" class="form-search" action="/balances" method="POST">
      <fieldset style="text-align:center;">
        <input id="balance_address" type="text" placeholder="Input your BTC/PTS/BTS address">
        <button type="submit" class="btn">Search</button>
        <ul class="history unstyled"></ul>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<div id="notification" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Notification</h3>
  </div>
  <div class="modal-body">
    <form id="notification_form" class="form-search" action="/notifications" data-remote="true" method="post">
      <fieldset style="text-align:center;">
        <div class="alert" style="display:none;"></div>
        <input type="text" name="email" class="email" placeholder="Input your email address" value="<%= params[:email] %>">
        <button type="submit" class="btn">Submit</button>
        <span class="help-block">
          <p>Will send you a status report 3 hours before the end of each day.</p>
        </span>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>
<!-- modal ends -->