<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>NOTICE:</strong> AngelShares donation period is coming to an end.  After the count down clock reaches zero, please DO NOT send any donations to AngelShares donation addresses (Bitcoin and Protoshare).
</div>

<% if false %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ANN:</strong> BTS initial balance for AGS donator address is now shown in balance page.
</div>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ANN:</strong> Donator Address algorithm has been updated check <a href="/ags101/algorithm">details</a> here.
</div>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ANN:</strong> Donation transaction detail link is back online.
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error:</strong> We are experiencing data source difficulties.  Donations made after 2014-02-05 07:27:13 are not synced.  Current Donation stats is not correct.

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span style="margin-right:1em;">Happy Chinese New Year!</span> 新春快乐！
</div>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Feature:</strong> You can now switch currency view by click currency symbol within in Overview section.
</div>
<% end %>
