<h3><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover" data-network="<%= network %>">
  <tbody>
    <tr>
      <th colspan="2">Today</th>
    </tr>
    <tr>
      <td>Invested</td>
      <td></td>
    </tr>
    <tr>
      <td>Daily Avg. Invested</td>
      <td></td>
    </tr>
    <tr>
      <td>Advantage</td>
      <td></td>
    </tr>
    <tr>
      <td>AGS to Issue</td>
      <td>5,000</td>
    </tr>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <td>Total Invested</td>
      <td>5,000</td>
    </tr>
    <tr>
      <td>Total AGS Issued</td>
      <td>5,000</td>
    </tr>
    <tr>
      <th colspan="2">Calculater</th>
    </tr>
    <tr>
      <td>I want to invest</td>
      <td>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Amount">
          <button type="submit" class="btn">Calculate</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>Percentage / AGS Obtained<small>EST.</small></td>
      <td>13.2% / 23</td>
    </tr>
  </tbody>
</table>
