<tr>
  <td><%= display_time donation.time %></td>
  <td><%= link_to donation.address, balance_path(donation.address) %></td>
  <td><%= link_to 'tx', external_tx_path(donation.txbits, network), :target => "_blank" %></td>
  <td><%= dcp(donation.amount, network) %></td>
</tr>
