<div class="row">
  <div class="span3 sidebar">
    <ul class="nav nav-list api-docs-sidenav" data-spy="affix" data-offset-top="90">
      <li><a href="#masterbook"><i class="icon-chevron-right"></i> Master Book</a></li>
      <li><a href="#balance"><i class="icon-chevron-right"></i> Balance Lookup</a></li>
      <li><a href="#donations"><i class="icon-chevron-right"></i> Donations by Date</a></li>
      <li><a href="#total_amount"><i class="icon-chevron-right"></i> Total Amount</a></li>
    </ul>
  </div>

  <div class="span9">

    <section id="masterbook">
      <div class="page-header"><h1>Master Book</h1></div>
      <h2 id="headings">Headings 1</h2>
      <h2 id="headings">Headings 2</h2>
    </section>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <section id="balance">
      <div class="page-header"><h1>Balance Lookup</h1></div>
      <h2 id="headings">Headings 1</h2>
      <h2 id="headings">Headings 2</h2>
    </section>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <section id="donations">
      <div class="page-header"><h1>Donations by Date</h1></div>
      <h2 id="headings">Headings 1</h2>
      <h2 id="headings">Headings 2</h2>
    </section>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <section id="total_amount">
      <div class="page-header"><h1>Total Amount</h1></div>
      <h2 id="headings">Headings 1</h2>
      <h2 id="headings">Headings 2</h2>
    </section>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </div>
</div>