# APP_CONFIG[:key]
development: &dev
  host_name: "127.0.0.1:3000"
  site_title: "Angel Shares Explorer"
  site_description: "Angel Shares Explorer: ProtoShare Bitcoin donation explorer"
  site_keyword: "Bitcoin Protoshare AngelShare btc pts ags"

  #pagination per page default value
  per_page: 18

  email:
    address: "smtp.mail.com"
    port: 25
    domain: "smtp.mail.com"
    authentication: :login
    user_name: "senderemail"
    password: "pwd"
    default_charset: "utf-8"
    default_content_type: "text/html; charset=utf-8"


test:
  <<: *dev

production:
  <<: *dev
  host_name: "agsexplorer.com"
