# -*- encoding : utf-8 -*-
set :application, "agsexplorer"
set :server_name, "server_name"
set :domain,      "server ip"
set :repository,  "git@github.com:AlexChien/agsexplorer.git"
set :use_sudo,    false
set :deploy_to,   "deploy_path"
set :scm,         "git"
set :user,        "user"
set :runner,      "runner_user"
set :sudo_user,   "sudo_user"
set :rake,        'rake'
set :keep_releases, 5
set :rvm_ruby_string, '1.9.3@agsexplorer'
set :passenger_ruby, 'passenger_ruby path'
set :rvm_type, :user
set :nginx_conf_path, "nginx conf path"
set :asset_env, "RAILS_GROUPS=assets"

# Whatever you set here will be taken set as the default RAILS_ENV value
# on the server. Your app and your hourly/daily/weekly/monthly scripts
# will run with RAILS_ENV set to this value.
set :rails_env, "production"
set :bundle_cmd, "bundle" #"/opt/ruby-enterprise/bin/bundle"
# without darwin, since we are using rb-fsevent gem on mac
set :bundle_without, [:darwin, :development, :test]
default_run_options[:pty] = true

# NOTE: for some reason Capistrano requires you to have both the public and
# the private key in the same folder, the public key should have the
# extension ".pub".
ssh_options[:keys] = ["#{ENV['HOME']}/.ssh/id_rsa"]

set :scm, :git
set :scm_verbose, true
set :branch, "master"

set :deploy_via, :remote_cache

role :app, domain
role :web, domain
role :db,  domain, :primary => true

namespace :deploy do

  desc "Generate database.yml"
  after "deploy:finalize_update", :roles => [:web] do
    database_yml

    # link bundle path
    run "ln -s #{shared_path}/bundle #{current_release}/vendor/bundle"

    # migrate db schema
    migrate
  end

  desc "Migrate db"
  task :migrate, :roles => [:web] do
    run "cd #{latest_release} && #{bundle_cmd} exec #{rake} db:migrate RAILS_ENV=#{rails_env}"
  end

  task :start, :roles => :app do
    run "touch #{current_release}/tmp/restart.txt"
  end

  task :stop, :roles => :app do
    # Do nothing.
  end

  desc "Restart Application"
  task :restart, :roles => :app do
    run "touch #{current_release}/tmp/restart.txt"
  end


  desc "Generate Production database.yml"
  task :database_yml, :roles => [:web] do
    db_config = "#{shared_path}/config/database.yml.production"
    run "cp #{db_config} #{release_path}/config/database.yml"
    run "cp #{shared_path}/config/app_config.yml.production #{release_path}/config/app_config.yml"
  end

  namespace :assets do
    desc <<-DESC
    Run the asset precompilation rake task. You can specify the full path \
    to the rake executable by setting the rake variable. You can also \
    specify additional environment variables to pass to rake via the \
    asset_env variable. The defaults are:

    set :rake,      "rake"
    set :rails_env, "production"
    set :asset_env, "RAILS_GROUPS=assets"
    DESC
    # task :precompile, :roles => :web, :except => { :no_release => true } do
    #   run "cd #{latest_release} && #{bundle_cmd} exec #{rake} RAILS_ENV=#{rails_env} #{asset_env} assets:precompile"
    # end
    task :precompile, :roles => :web, :except => { :no_release => true } do
      from = source.next_revision(current_revision) rescue nil

      if from.nil? || capture("cd #{latest_release} && #{source.local.log(from)} vendor/assets/ app/assets/ | wc -l").to_i > 0
        run %Q{cd #{latest_release} && #{bundle_cmd} exec #{rake} RAILS_ENV=#{rails_env} #{asset_env} assets:precompile}
      else
        logger.info "Skipping asset pre-compilation because there were no asset changes"
      end
    end
  end

end

namespace :rvm do
  task :trust_rvmrc do
    run "rvm rvmrc trust #{release_path}"
  end
end

after "deploy", "rvm:trust_rvmrc"