@import 'twitter_bootstrap_override';
@import 'social_cn';

$title_font: "Microsoft YaHei","Hiragino Sans GB",\9ed1\4f53,arial,sans-serif;
$content_font: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;;

body {
  font-size:13px;
  padding-top:50px;
}

h1,h2,h3 { height:auto; }

#ticker {
  max-height:40px; overflow:hidden; font-size:9px; margin-bottom:0;
  th, td { padding:1px 5px; line-height:11px; text-align:right;}
}
#chart-container { min-height:400px; }
.history { margin-top:1em; }

small { opacity:0.5;}
small.num { font-size:10px; opacity:0.5; }

.deleted { text-decoration: line-through;}

#footer{
  margin-top:1.2em; padding-top:1.2em; border-top:1px solid #ccc;
  dt { width:90px; }
  dd { margin-left:110px; }
  .aff-links-container {
    text-align:center; border-top:1px solid #eee; padding:1em 0;
    a { margin:auto 10px; }
  }
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  body { padding-top:0px; }
}