@import 'twitter_bootstrap_override';
@import 'social_cn';

$title_font: "Microsoft YaHei","Hiragino Sans GB",\9ed1\4f53,arial,sans-serif;
$content_font: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;;

body {
  font-size:13px; padding-top:50px;
}

#chart-container { min-height:400px; }

small { opacity:0.5;}
small.num { font-size:10px; opacity:0.5; }

#footer{
  margin-top:1.2em; padding-top:1.2em; border-top:1px solid #ccc;
  dt { width:60px; }
  dd { margin-left:80px; }
}