<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Site is temporarily down for maintenance.</title>
  <style type="text/css">
  body {
    width: 400px;
    margin: 100px auto;
    font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  }

  h1 {
    font-weight: 300;
  }
  </style>
</head>
<body>
  <h1>Take a break and grab some coffee.</h1>

  <p>Site is down due to <%= reason ? reason : "maintenance" %><br>
    as of: <%= Time.now.utc.strftime("%H:%M %Z") %>.</p>

    <p>It will be back <%= deadline ? "#{deadline}" : "shortly" %>.</p>
</body>
</html>